body{
    align-items: center;

}

    button{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    font-size:larger
}
  .display-box{
    width:100% ;
    height:50px ;
    font-size: larger;
    border-style: double;
  }
